/home/{{ deploy_user }}/apps/*/current/log/*.log {
  su deploy deploy
  daily
  rotate 14
  missingok
  notifempty
  compress
  delaycompress
  copytruncate
  dateext
  lastaction
    HOSTNAME=`hostname`
{% for server in groups.storage %}
    rsync -a /home/{{ deploy_user }}/apps/{{ app_name }}/current/log/*.gz {{ deploy_user }}@{{ server }}:~/logs/$HOSTNAME/ --log-file=/home/{{ deploy_user }}/apps/simple-server/current/log/rsync.log
    chown {{ deploy_user }} /home/{{ deploy_user }}/apps/simple-server/current/log/rsync.log
{% endfor %}
  endscript
}
