.DS_STORE
.terraform.tfvars
.vault_password

# Ignore utility configuration files
.idea/

# Terraform build files
terraform/development/builds/*
terraform/bangladesh/builds/*
terraform/india/builds/*
terraform/sri-lanka/builds/*