---
# nginx + passenger tasks
- name: install PGP key supprt
  apt: pkg={{ item }} state=latest
  become: yes
  with_items:
    - dirmngr
    - gnupg

- name: add passenger PGP key
  apt_key: keyserver=keyserver.ubuntu.com id=561F9B9CAC40B2F7 state=present
  become: yes

- name: add passenger apt repo
  apt_repository: repo='deb https://oss-binaries.phusionpassenger.com/apt/passenger xenial main' state=present
  become: yes
  register: passenger_repo

- name: apt-get update
  apt:
    update_cache: yes
  become: yes
  when: passenger_repo.changed

- name: install nginx and passenger packages
  apt: pkg={{ item }} state=latest
  become: yes
  with_items:
    - apt-transport-https
    - ca-certificates
    - nginx-extras
    - passenger
  notify: restart nginx

- name: re-configure nginx
  template: src=etc/nginx/nginx.conf dest=/etc/nginx/nginx.conf
  become: yes
  notify: restart nginx

- name: disable the default nginx config
  file: path={{ item }} state=absent
  become: yes
  with_items:
    - /etc/nginx/sites-enabled/default
  notify: restart nginx

- name: get installed site configs
  shell: ls -1 /etc/nginx/sites-available
  register: sites_available_contents

- name: get enabled site configs
  shell: ls -1 /etc/nginx/sites-enabled
  register: sites_enabled_contents

- name: add site configs
  template:
    src: etc/nginx/sites-available/simple.org
    dest: /etc/nginx/sites-available/{{ domain_name }}
  become: yes
  notify: restart nginx

- name: enable site configs
  file:
    state: link
    src: /etc/nginx/sites-available/{{ domain_name }}
    dest: /etc/nginx/sites-enabled/{{ domain_name }}
  become: yes

- name: restart nginx
  become: yes
  command: /bin/true
  notify: restart nginx
  tags: restart-passenger

- name: enable monit for nginx
  file: >
    state=link
    src=/etc/monit/conf-available/nginx
    dest=/etc/monit/conf-enabled/nginx
  become: yes
  notify: restart monit
